<!Doctype html>
<html lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\">\n" 
                <head>
                    <meta charset=\"utf-8\" />
                    <title></title>\n" +
                    <script type=\"text/javascript\" src=\"./jquery.min.js\"></script>
                    <script src=\"./highcharts.js\"></script>
                    <script src=\"http://code.highcharts.com/modules/exporting.js\"></script>
                    <script src=\"grid-light.js\"></script>
                    <script type=\"text/javascript\">        
					var students_names = new Array();  
                        var came = new Array(); 
                        var didnotcome = new Array(); 
                        var arrivedlate = new Array(); 
                        var leftsoon = new Array(); 
                        var undef = new Array();       
                        
                        
                        $.getJSON('http://104.236.31.197/course/"+course+"/attendance?username="+MainActivity.settings.getString("id","")+"&token="+ MainActivity.settings.getString("token","")+"', function(data) {
                            data = data[\"students\"];   
                            \n" +
                            for (i = 0; i < data.length; i++){
                                students_names.push(data[i][\"student_name\"]+ \" \"+data[i][\"student_lastname\"]); //NOMBRE DEL ESTUDIANTE\n" +
                            }\n" +
                            \n" +
                            for (i = 0 ; i < 5; i++){                
                                for( j = 0; j < data.length; j++){\n" +
                                    switch(i){\n" +
                                        case 0:\n" +
                                            came.push(data[j][\"attendance\"][0][\"value\"]);
                                            break;\n" +
                                        case 1:\n" +
                                            didnotcome.push(data[j][\"attendance\"][1][\"value\"]);
                                            break;\n" +
                                        case 2:\n" +
                                            arrivedlate.push(data[j][\"attendance\"][2][\"value\"]);
                                            break;\n" +
                                        case 3:\n" +
                                            leftsoon.push(data[j][\"attendance\"][3][\"value\"]);
                "                            break;\n" +
                "                        case 4:\n" +
                "                            undef.push(data[j][\"attendance\"][4][\"value\"]);\n" +
                                            break;\n" +
                                    }                    \n" +
                                }\n" +
                            }\n" +
                            // draw charts\n" +
                            $(function () {\n" +
                                $('#container').highcharts({\n" +
                                    chart: {\n" +
                                        type: 'bar'\n" +
                                    },\n" +
                                    title: {\n" +
                                        text: '"+subject_name+" attendance statistics',\n" +
                                        style: {\n" +
                                            color: 'black',\n" +
                                            fontSize:'20px',\n" +
                                            fontWeight: 'bold'\n" +
                                        }\n" +
                                    },\n" +
                                    xAxis: {                        \n" +
                                        categories: students_names,\n" +
                                        labels: {\n" +
                                            style: {\n" +
                                                color: 'black',\n" +
                                                fontSize:'12px',\n" +
                                                fontWeight: 'bold'\n" +
                                            }\n" +
                                        }\n" +
                                    },\n" +
                                    yAxis: {\n" +
                                        max: 100,\n" +
                                        title: {\n" +
                                            text: 'Attendances (%)',\n" +
                                            style: {\n" +
                                                color: 'black',\n" +
                                               fontWeight: 'bold'\n" +
                                           }\n" +
                                       },\n" +
                                       labels: {\n" +
                                           style: {\n" +
                                               color: 'black',\n" +
                                               fontSize:'12px',\n" +
                                               fontWeight: 'bold'\n" +
                                           }\n" +
                                       }\n" +
                                   },\n" +
                                   legend: {\n" +
                                       itemMarginBottom: 15,\n" +
                                       itemDistance: 10\n" +
                                   }, \n" +
                                   plotOptions: {                          \n" +
                                       bar: {\n" +
                                           dataLabels: {\n" +
                                               style: {\n" +
                                                   color: 'black',\n" +
                                                   fontSize:'10px'\n" +
                                               },     \n" +
                                               enabled: true,\n" +
                                               formatter: function() {\n" +
                                                    if (this.y !== 0) {\n" +
                                                      return this.y;\n" +
                                                    } else {\n" +
                                                      return null;\n" +
                                                    }\n" +
                                                }\n" +
                                              \n" +
                                            }\n" +
                                        },\n" +
                                        series: {\n" +
                                            events: {\n" +
                                                legendItemClick: function() {\n" +
                                                    return false;\n" +
                                                }\n" +
                                            },\n" +
                                            stacking: 'normal'\n" +
                                        }\n" +
                                    },\n" +
                                    credits: {\n" +
                                        enabled: false\n" +
                                    },\n" +
                                    tooltip: {\n" +
                                        backgroundColor: {\n" +
                                                linearGradient: [0, 0, 0, 60],\n" +
                                                stops: [\n" +
                                                    [0, '#FFFFFF'],\n" +
                                                    [1, '#E0E0E0']\n" +
                                                ]\n" +
                                            },\n" +
                                            borderWidth: 1,\n" +
                                            borderColor: '#AAA',\n" +
                                        formatter: function() {\n" +
                                            return '<strong>'+this.series.name + '</strong>' + '  ' + this.y + ' %';\n" +
                                        }\n" +
                                    },\n" +
                                    series: [{\n" +
                                        name: 'Came',\n" +
                                        data: came\n" +
                                    }, {\n" +
                                        name: 'Did not come',\n" +
                                        data: didnotcome\n" +
                                    }, {\n" +
                                        name: 'Arrived late',\n" +
                                        data: arrivedlate\n" +
                                    }, {\n" +
                                        name: 'Left soon',\n" +
                                        data: leftsoon\n" +
                                    }, {\n" +
                                        name: 'Undefined',\n" +
                                        data: undef\n" +
                                    }]\n" +
                                });\n" +
                            });           \n" +
                        });\n" +
                    </script>\n" +
                </head>\n" +
                <body>\n" +
                    <div id=\"container\"></div>\n" +
                </body>\n" +
                </html>";
