<!DOCTYPE html>
<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src= "js/student.js"></script>
<body>

    <div ng-app="myApp" ng-controller="customersCtrl"> 
        <div id="profesor" >
            <h2>Perfil de estudiante:</h2>
            <ul>
                <li><label>Codigo: </label>{{id}}</li>
                <li><label>Nombres: </label>{{names}}</li>
                <li><label>Apellidos: </label>{{lastnames}}</li>
                <li><label>Programa: </label>{{program}}</li>
                <li><label>E-mail: </label>{{email}}</li>
            </ul>            
            <!--<li><label>Ver Cursos: </label><a href="{{courses}}?username=T00010915&token=GZmd0e0wBDca8lfE5jAYADTFgcXRinHHmpKAXUGS">Acceder a los cursos de {{names}}{{apellidos}}</a></li>
            <li><label>Asistencias: </label><a href="{{attendance}}?username=T00010915&token=GZmd0e0wBDca8lfE5jAYADTFgcXRinHHmpKAXUGS">Desplegar asistencias de los cursos</a></li>-->

        </div>

   

</body>
</html>