<div>

	<h2>Lista de cursos  <small>Aqui se mostrara la lista de cursos de cada profesor</small></h2>
	<div class="jumbotron">
		<div class="container">
			<div ng-controller="teacherCourseCtrl"> 
				<div id="teachercourses" >
					<h2>Cursos:</h2>
					<div ng-repeat="c in courses" >
						<div class="collection">
							<a class="collection-item" ng-model='id' ui-sref="dashboard.courseview({course : c.nrc})">
								<span class="card-title">{{c.subject_name}}</span>
									<div id="nrc">{{c.nrc}}</div>	
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>