<div>

	<h2>Perfil  <small>Aqui se mostrara el perfil de cada profesor</small></h2>
	<div class="jumbotron">
		<div class="container">
			<div ng-controller="teacherCtrl"> 
			<div id="teacher" >
				
				<img src="http://savio.utbvirtual.edu.co/user/external_render_pic.php?user=uws1&pass=uws1&wsusername={{id}}" class="img-circle user-avatar"/><br />
<div style="float: left;" class="pull-right container">
				<ul>
					<li><label>Codigo: </label>{{id}}</li>
					<li><label>Nombres: </label>{{names}}</li>
					<li><label>Apellidos: </label>{{lastnames}}</li>
					<li><label>Tipo: </label>{{type}}</li>
					<li><label>Escuela : </label>{{school}}</li>
					<li><label>Departamento: </label>{{department}}</li>
					<li><label>E-mail: </label>{{email}}</li>
					<!--<li><label>Listar Cursos: </label>{{course}}</li>-->
				</ul>
	</div>
			</div>
		</div>
		</div>
	</div>
</div>