<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
		  
       <div class="text-center">
		   <h2 class="brand">RAOWEB<hr></h2>
        
		   <a ui-sref="profile"  ng-class="{active: $state.includes('profile')}"><img src="http://savio.utbvirtual.edu.co/user/external_render_pic.php?user=uws1&pass=uws1&wsusername={{id}}" class="img-circle user-avatar"/></a><br />
        <a ui-sref="logout" ng-click="logout()" class="btn btn-white btn-outline btn-rounded btn-m">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
		  
			<li>
				<a ui-sref="dashboard.courselist"   ng-class="{active: $state.includes('courselist')}"><i class="fa fa-home"></i>
 Cursos</a>
			</li>
		<!--	<li>
				<a ui-sref="dashboard.courselist"   ng-class="{active: $state.includes('courselist')}"><i class="fa fa-list-alt"></i> Listar Cursos</a>
			</li>-->
			
			<li>
				<a href="https://github.com/cbuelvas/RAOWEB/wiki"   ><i class="fa fa-file-text-o"></i>
 Documentacion</a>
			</li>

      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>